<h2>Update the drone</h2>

<form action="/drones/create" method="POST">
    <label for="name">Drone name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="propellers">How many propellers:</label>
    <input id="propellers" name="propellers" type="Number"></input> 

    <label for="maxSpeed">maxSpeed:</label>
    <input id="maxSpeed" name="maxSpeed" type="Number"></input> 

    <button type="submit">Create drone</button>
</form>